body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-width: 400;
}

.container {
    position: relative;
    overflow: hidden;
    width: 980px;
    margin: 0 auto;
}

.social_share {
    position: relative;
    overflow: hidden;
}

.social_share .share_btn {
    position: relative;
    overflow: hidden;
    width: 110px;
    height: 50px;
    float: left;
    margin-right: 20px;
}

.box {
    display: block;
    width: 100%;
    color: #000;
    font-weight: 600;
}

.count {
    width: 40%;
    text-align: center;
    display: inline-block;
    height: 100%;
    padding: 5px;
}

.share {
    width: 41%;
    text-align: center;
    display: inline-block;
    padding: 5px;
}

#facebook_share .box {
    border: 1px solid #3B5998;
}

#facebook_share .count {
    color: #3B5998;
}

#facebook_share .share {
    background-color: #3B5998;
    color: #fff;
}

#twitter_share .box {
    border: 1px solid #55ACEE;
}

#twitter_share .count {
    color: #55ACEE;
}

#twitter_share .share {
    background-color: #55ACEE;
    color: #fff;
}

#gplus_share .box {
    border: 1px solid #d44837;
}

#gplus_share .count {
    color: #d44837;
}

#gplus_share .share {
    background-color: #d44837;
    color: #fff;
    font-width: bold;
}

/* iframe modification */
.pluginCountButton.pluginCountNum {
    width: 10px;
    color: red !important;
}

